.alturaImgC{
    height: 50vh;
    width: 100vw;
    object-fit: cover;
}

footer{
    padding: 30px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
p{
    margin: 0;
}

@media all and (max-width:767px){
    .alturaImgC{
       
        object-fit: contain;
    }
    
}